{{/* Paper-grain texture marks */}}
<div class="grain" aria-hidden="true">
  <i class="speck" style="top:8%;left:6%;transform:rotate(-22deg) scale(.85)"></i>
  <i class="speck" style="top:22%;right:4%;transform:rotate(38deg) scale(.7)"></i>
  <i class="speck" style="top:42%;left:2%;transform:rotate(-50deg) scale(.95)"></i>
  <i class="speck" style="top:58%;right:9%;transform:rotate(14deg) scale(.75)"></i>
  <i class="speck" style="top:74%;left:12%;transform:rotate(62deg) scale(.8)"></i>
  <i class="speck" style="top:89%;right:7%;transform:rotate(-35deg) scale(.65)"></i>
</div>
