<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} · {{ .Site.Title }}{{ end }}</title>
<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Site.Params.tagline }}{{ end }}" />
<link rel="icon" href="/stickers/marmalade-curious.png" type="image/png" />

<!-- Webfonts for handwritten look -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Cedarville+Cursive&family=Kalam:wght@300;400;700&family=Patrick+Hand&display=swap" rel="stylesheet" />

{{ $css := resources.Get "css/main.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}" />

{{ if eq .Section "about" }}
{{ $aboutCss := resources.Get "css/about.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $aboutCss.RelPermalink }}" integrity="{{ $aboutCss.Data.Integrity }}" />
{{ end }}

{{ $js := resources.Get "js/stickers.js" | minify | fingerprint }}
<script defer src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>

{{ $identityJs := resources.Get "js/identity.js" | minify | fingerprint }}
<script defer src="{{ $identityJs.RelPermalink }}" integrity="{{ $identityJs.Data.Integrity }}"></script>

{{ if eq .Section "submit" }}
	{{ $submitJs := resources.Get "js/submit.js" | minify | fingerprint }}
	<script defer src="{{ $submitJs.RelPermalink }}" integrity="{{ $submitJs.Data.Integrity }}"></script>
{{ end }}

{{ if and (eq .Section "lab") .IsPage }}
	{{ $dlJs := resources.Get "js/downloads.js" | minify | fingerprint }}
	<script defer src="{{ $dlJs.RelPermalink }}" integrity="{{ $dlJs.Data.Integrity }}"></script>
{{ end }}
